.float-parent-element { 
    margin: 15%;
    width: 100%; 
    padding-left: 8%;
} 
  .float-child-element { 
      float: left; 
      width: 30%; 
  } 
  .red { 
      background-color: rgb(236, 59, 59); 
      margin-left: 150px;
      height: 300px;
      width: 70%; 
      text-align: center;
  } 
  .red img { 
    padding-top: 30%;
  }
  .red:hover img {
    transform: translateY(-10px) scale(0.9);
  }
  .yellow { 
      margin-right: 500%;
      height: 300px;
      width:70%; 
      background-color: rgb(255, 166, 0);
      text-align: center;
  }
  .yellow img{
    padding-top: 30%;
  }

  .yellow:hover img {
    transform: translateY(-10px) scale(0.9);
  }
