{% extends "navbar.html" %}

{% load static %} 
{% block content %}

<head>
    <title>Profile</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link rel="stylesheet" href="{% static 'css/adminprofile.css' %}" />
</head>





<div class="container">
    <div class="row">
        <div class="col-md-5 mb-md-0 mb-5">
            <div class="card d-flex flex-column align-items-center justify-content-center">
                <div class="inner-content d-flex flex-column align-items-center justify-content-center">
                    <div class="img-container rounded-circle">
                        <img src="{% static 'icons8-test-account-100.png' %}" alt="" class="rounded-circle">
                    </div>
                    <div class="h3">{{profile.user.username}}</div>
                    <p class="designation text-muted text-uppercase">{{profile.user.email}}</p>
                </div>
                <ul
                    class="social-links d-flex align-items-center justify-content-around list-unstyled w-100 fs-5 m-0 p-0">
                    <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fab fa-google-plus"></span></a></li>
                    <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}