{% extends "navbar.html" %}

{% load static %}
{% block content %}
<head>
    <title>Admin Permissions</title>
    <link rel="stylesheet" href="{% static 'css/adminpermission.css' %}" />
</head>



    

<h2>Admin Permissions </h2>
<table class="table table-hover">


    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Area</th>
        <th>Houses</th>
        <th>Job Status</th>
        <th>Admin permit status</th>
        <th>Admin Permit</th>
        <th>collector permit status</th>
        <th>Collector Permit</th>
    </tr>


    <br>

{% for collector,houses in collector_houses.items %}
    <tr>

        <td>{{ collector.user.username }}</td>
        <td>{{collector.user.email}} </td>
        <td>{{ collector.area.area_name }}</td>
        
        <td>
            {% for house in houses %} 
            {{house.house_name}} <br>   
            {% endfor %}
        </td>
       
        <td>
            {% if collector.area_status == True %}
              Completed
            {% else %}
               Not Completed
            {% endif %}
             
        </td>
        <td>
            {% if collector.is_admin == True %}
                Permitted
             {%  else  %} 
                Not Permitted
            {% endif %}
        </td>
        <td>
            <form action="{% url 'admin-permissions-save' username=collector.user.username %}" method="post">

                {% csrf_token %}

                <!-- <select name="admin" >
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select> -->

                <input type="radio" id="true" name="admin" value="True">
                <label for="true">Permit</label><br>
                <input type="radio" id="false" name="admin" value="False">
                <label for="false">Don't Permit</label>
                <input class='update' title='update' type='image' src="{% static 'icons8-save-50.png' %}" value="Change">
            </form>

        </td>

        <td>
            {% if collector.is_real == True %}
                Allowed
             {%  else  %}
                Not Allowed
            {% endif %}
        </td>
        <td>
            <form action="{% url 'collector-authentic-permissions' username=collector.user.username %}" method="post">

                {% csrf_token %}

                <!-- <select name="real" >
                   <option value="True">True</option>
                   <option value="False">False</option>
                </select> -->


                <input type="radio" id="true" name="real" value="True">
                <label for="true">Allow</label><br>
                <input type="radio" id="false" name="real" value="False">
                <label for="false">Don't Allow</label>
                <input class='update' title="update" type='image' src="{% static 'icons8-save-50.png' %}" value="Change">

            </form>

        </td>

    </tr>


{% endfor %}

</table>



{% endblock %}