{% extends "navbar.html" %}

{% load static %}
{% block content %}
<head>
    <title>Admin Permissions</title>
    <link rel="stylesheet" href="{% static 'css/adminpermission.css' %}" />
</head>



    

<h2>Admin Permissions </h2>
<table class="table table-hover">


    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Area</th>
        <th>Job Status</th>
        <th>Admin_status</th>
        <th>Is.admin ?</th>
        <th>Authenticate_status</th>
        <th>Authenciate</th>
    </tr>


    <br>
{% for collector in collectors %}
    <tr>

        <td>{{ collector.user.username }}</td>
        <td>{{collector.user.email}} </td>
        <td>{{ collector.area.area_name }}</td>
        <td>{{ collector.area_status }}</td>
        <td>{{ collector.is_admin }} </td>
        <td>
            <form action="{% url 'admin-permissions-save' username=collector.user.username %}" method="post">

                {% csrf_token %}

                <!-- <select name="admin" >
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select> -->

                <input type="radio" id="true" name="admin" value="True">
                <label for="true">TRUE</label><br>
                <input type="radio" id="false" name="admin" value="False">
                <label for="false">FALSE</label>
                <input class='update' type='image' src="{% static 'icons8-save-50.png' %}" value="Change">
            </form>

        </td>

        <td>{{ collector.is_real }}</td>
        <td>
            <form action="{% url 'collector-authentic-permissions' username=collector.user.username %}" method="post">

                {% csrf_token %}

                <!-- <select name="real" >
                   <option value="True">True</option>
                   <option value="False">False</option>
                </select> -->


                <input type="radio" id="true" name="real" value="True">
                <label for="true">TRUE</label><br>
                <input type="radio" id="false" name="real" value="False">
                <label for="false">FALSE</label>
                <input class='update' type='image' src="{% static 'icons8-save-50.png' %}" value="Change">

            </form>

        </td>

    </tr>


{% endfor %}

</table>



{% endblock %}