

<form action="{% url 'register-save' %}" method="post">

    {% csrf_token %}

    Username:
    <input type="text" name="username">

<br>

    Email:
    <input type="text" name="username">
    
<br>
    Choose your Areas:s
    <select name="area">
        {% for area in areas %}
        <option value="{{ area.area_name }}">{{ area.area_name }}</option>
        {% endfor %}

    </select>

<br>
    
    Password:
    <input type="password" name="password">

<br>

    Confirm Password:
    <input type="password" name="password1">

<br>
    <input type="submit" value="Submit">

</form>