<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>

    <style>
         .center{
            margin:auto;
            width: 85%;
            padding: 10%;
        }
        .center a{
            margin-left: 50%;
        }
    </style>
</head>
<body>
    <div class="center">
        <h2 style="font-size:25px;">Succeeded registration waiting </h2>
        <p style="font-size:25px;">your account will be activated in no time </p>
        <img src="{% static 'Hourglass.gif' %}">
        <a href="{% url 'home' %}" title="Go back to Home"><img src="{% static 'icons8-home.gif' %}"   alt="Download" width="80px" height="80px" ></a>
    </div>
</body>
</html>